<div class="header-container"></div>

<div class="store-selection-container">
  <h2 class="selection-title">Selecciona una tienda</h2>

  <div class="stores">
    <div class="store-card" (click)="goToMenu('Menu-Castaño')">
      <img src="assets/Logo-Castaño.png" alt="Logo Castaño" class="store-logo">
      <p class="store-name">Castaño</p>
    </div>

    <div class="store-card" (click)="goToMenu('Menu-Paradiso Café')">
      <img src="assets/Logo-Paradiso-Cafe.png" alt="Logo Paradiso Café" class="store-logo">
      <p class="store-name">Paradiso Café</p>
    </div>

    <div class="store-card" (click)="goToMenu('Menu-Achoclonados')">
      <img src="assets/Logo-Achoclonados.png" alt="Logo Achoclonados" class="store-logo">
      <p class="store-name">Achoclonados</p>
    </div>
  </div>
</div>

<footer class="footer-container"></footer>