<div class="store-selection-container">
  <h2>Selecciona un negocio</h2>

  <div class="stores">
    <div class="store-card" (click)="goToMenu('Menu-Castaño')">
      <img src="assets/Logo-Castaño.png" alt="Logo Castaño">
      <p>Castaño</p>
    </div>

    <div class="store-card" (click)="goToMenu('Menu-Paradiso Café')">
      <img src="assets/Logo-Paradiso-Cafe.png" alt="Logo Paradiso Café">
      <p>Paradiso Café</p>
    </div>

    <div class="store-card" (click)="goToMenu('Menu-Achoclonados')">
      <img src="assets/Logo-Achoclonados.png" alt="Logo Achoclonados">
      <p>Achoclonados</p>
    </div>
  </div>
</div>
