* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: linear-gradient(90deg, #002855, #004080);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
  }
  
  .header-title {
    font-size: 1.8rem;
    color: #FFCD00;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .header-title:hover {
    color: #FFD633;
    transform: scale(1.1);
  }
  
  .header-icons {
    display: flex;
    gap: 1rem; 
  }
  
  .header-icons i {
    font-size: 1.5rem;
    color: #FFCD00;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .header-icons i:hover {
    color: #FFD633;
    transform: scale(1.1);
  }
  
.header-title:hover {
  color: #FFD633;
  transform: scale(1.1);
}

.settings-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .settings-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #002855;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    margin-top: 4rem;
    text-align:center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  .settings-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .setting-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .setting-item:hover {
    background-color: #004080;
    color: white;
    transform: scale(1.05);
  }
  
  .setting-item i {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  .setting-text {
    font-size: 1.2rem;
    color: #002855;
  }
  