* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002855;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  flex: 1;
  margin-top: 35px; 
  margin-bottom: 90px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reset-password-title {
  font-size: 2rem;
  font-weight: bold;
  color: #002855;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.reset-password-box {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  border: 3px solid #002855;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.logo {
  width: 100%;
  height: auto;
  border: 2px solid #002855;
  border-radius: 10px;
  padding: 5px;
  background-color: #FFCD00;
  margin-bottom: 1rem;
}

.instruction-text {
  font-size: 1rem;
  color: #002855;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #002855;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border 0.3s ease;
}

.input-group input:focus {
  border-color: #FFCD00;
}

.input-group input::placeholder {
  color: #aaa;
  font-size: 0.9rem;
}

.recover-btn {
  background-color: #FFCD00;
  color: #002855;
  border: 2px solid #002855;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recover-btn:hover {
  background-color: #FFD633;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.footer-container {
  background-color: #002855;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.footer-links {
  margin-top: 1rem;
}

.footer-links a {
  color: #FFCD00;
  text-decoration: none;
  margin: 0 0.75rem;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #FFD633;
}
