<div class="header-container">
  <h1>uni -</h1>
  <h1>skip</h1>
</div>

<div class="login-container">
  <div class="login-box">
    <img src="https://s3-alpha-sig.figma.com/img/b17a/1578/52e527b55258605ef26ae4ca092a5e11?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Q-sGwO~--JIlbB~xr1r6iMIUCNCAesMEcffAuIfCN65YOTvKWzGEistmxmBncOarpnTmKSHxhGRllor9iJH5RLGdrQiVniWbkUGHxj0am94NZnFSyGk9T~9IUFe0rQyIYL3M5p6MdUfBe1g7iUvFmQWkVmxwLW~b~6-CP2LOyHfj03LdDslPf0t46X9RYYBrk1OKFZHoy7EIgDQFleYC4VSF-D4AJW25hCGnfIQiYJ7mZ0DI4umuySJpa1NNjkRGKkMTWRPp6JKgGAVJazI07W4x5fUaYqmNYjiT56T04yQydGXU0D9Z1nPCxe5w~2q8uWYT~s~XVtpawpeenD~vlg__" alt="Logo" class="logo">
    
    <form (ngSubmit)="login()">
      <div class="input-group">
        <label for="email">Correo institucional</label>
        <input 
          type="text" 
          id="email" 
          placeholder="@" 
          required 
          [(ngModel)]="email" 
          name="email">
      </div>

      <div class="input-group">
        <label for="password">Contraseña</label>
        <input 
          type="password" 
          id="password" 
          placeholder="*****" 
          required 
          [(ngModel)]="password" 
          name="password">
      </div>

      <button type="submit" class="login-btn">Iniciar Sesión</button>

      <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
    </form>
  </div>
</div>
